<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Lista delle Ricette</title>
</head>
<body>
<h1>Lista delle Ricette</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Titolo</th>
        <th>Ingredienti</th>
        <th>Tempo di Preparazione</th>
        <th>Porzioni</th>
        <th>Azioni</th>
    </tr>
    <th:block th:each="ricetta : ${ricette}">
        <tr>
            <td th:text="${ricetta.id}"></td>
            <td th:text="${ricetta.titolo}"></td>
            <td th:text="${ricetta.ingredienti}"></td>

            </td>
        </tr>



<a href="/admin/ricette/nuova">Aggiungi Nuova Ricetta</a>



</th:block>
</table>